{% extends "base.html" %}
{% load thumbnail%}
{% block contenido %}




<div class="row">
<div class="large-9 columns">
<h1 class="content-title">Publicaciones</h1>


  <div class="pub-list">
        {% for publicacion in object_list %}
		  <div class="pub-view">
        {% if publicacion.portada %}
            {% thumbnail publicacion.portada "150x200" crop="1%" as img %}
             <img src="/media/{{img}}">
            {% endthumbnail %} 
       {% else %}
         <img src="http://placehold.it/150x200">
      {% endif %}
       <h2 class="pub-descripcion">
        <a href="{{ publicacion.get_absolute_url }}">{{ publicacion.titulo }}</a><br>
        <span class="fecha-list"> {{ publicacion.fecha }}</span>
      

        </h2>
      </div>
    {% empty %}
        <p>No hay publicacion</p>

       {% endfor %}

  </div>
    
</div>
<div class="large-3 columns">
  <h4 class="donacion">Como colaborar con CESESMA?</h4>
    <div class="box-orange"><a href="/donacion/">Haz tu donación</a></div>
    <br>
    <br>
  
</div>

</div>


{% endblock %}